.odin{
    color: royalblue;
    font-weight: bold;
    font-size: 40px;
}

.recipes{
    color: coral;
    font-size: 20px;
}

.list,
.recipes,
.subject,
.description,
.preparation,
.odin{
    text-align: center;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.subject{
    color: coral;
}

#enchilada{
    width: 300px;
    height: auto;
}

#shrimp{
    width: 300px;
    height: auto;
}

#parmesan{
    width: 300px;
    height: auto;
}